<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_study.dao.StudentDao">

	<sql id="selectSql">
		SELECT stud_id, name, email, phone FROM student
	</sql>
	<sql id="whereSql">
		<where>
			<if test="studId!=null">stud_id = #{studId}</if>
		</where>
	</sql>
	<sql id="insertSql">
		insert into student(stud_id,name,email,phone,dob)
		values(#{studId},#{name},#{email},#{phone},#{dob})
	</sql>
	<sql id="updateSql">
		update student set name=#{name},email=#{email},phone=#{phone},dob=#{dob}
		where stud_id=#{studId}
	</sql>
	<sql id="deleteSql">
		delete from student where stud_id=#{studId}
	</sql>
	
	
	<select id="selectStudentByNoWithAPI" parameterType="Student" resultType="Student">
		<include refid="selectSql"></include>
		<include refid="whereSql"></include>
	</select>
	
	<select id="selectStudentByAllWithAPI" resultType="Student">
		<include refid="selectSql"></include>
	</select>
	
	
	
	<insert id="insertStudentWithAPI">
		<include refid="insertSql"></include>
	</insert>
	
	<update id="updateStudentWithAPI">
		<include refid="updateSql"></include>
	</update>
	
	<delete id="deleteStudentWithAPI">
		<include refid="deleteSql"></include>
	</delete>
	
	<sql id="selectSql2">
		SELECT stud_id, name, email, phone,dob FROM student
	</sql>
	
	<!-- resultmap -->
	<resultMap type="StudentResult" id="Student">
		<id property="studId" column="stud_td"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="dob" column="dob"/>
	</resultMap>
	
	<select id="selectStudentByAllForResultMapWithAPI" resultMap="StudentResult">
		<include refid="selectSql2"></include>
	</select>
	
</mapper>